<div class="grid-item">
    <div class="event">
        <div class="event-header">
            <% if event.picture? %>
                <img src="<%= event.picture %>" alt="picture of the <%= event.title %> event">
            <% else %>
                <img src="<%= asset_path('default.png') %>" alt="default picture of an event">
            <% end %>
        </div>
        <div class="event-body">
            <h2><%= event.title %></h2>
            <p><%= event.description %></p>
            <p><b><%= event.location %></b> - <%= event.duration %> minutes</p>
            <p><u><%= event.price %> €</u></p>
            <p class="text-center">Déjà <%= event.participants.count %> participant(s)</p>
            <div class="text-center">
                <% if event.organizer == current_user %>
                    <%= link_to 'Modifier', edit_event_path(event), class: 'btn' %>
                <% elsif Attendance.where(participant: current_user, event: event).exists? %>
                    <%= link_to 'Vous participez à l\'évènement', event, class: 'btn success' %>
                <% elsif current_page?(event_path(event)) %>
                    <%= button_to "Participer à l'évènement", checkout_create_path(price: event.price, event_id: event), class: "btn", data: {turbo: false} %>
                <% else %>
                    <%= link_to 'Voir l\'évènement', event, class: 'btn' %>
                <% end %>
            </div>
        </div>
        <div class="event-footer">
            <p>Le <%= event.start_date.strftime('%d/%m/%Y') %> à <%= event.start_date.strftime('%H:%M') %></p>
        </div>
    </div>
</div>