<div class="centered">
<h1>Modifier vos informations</h1>

<%= form_for @user, url: user_path(@user), method: :patch do |f| %>
    <div class="field">
        <%= f.label :last_name, "Nom" %>
        <%= f.text_field :last_name %>
    </div>

    <div class="field">
        <%= f.label :first_name, "PreÌnom" %>
        <%= f.text_field :first_name %>
    </div>

    <div class="field">
        <%= f.label :description, "Description" %>
        <%= f.text_area :description %>
    </div>

    <div class="field">
        <%= f.submit %>
    </div>
<% end %>
</div>