<!DOCTYPE html>
<html>
  <head>
    <title>EventBrite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-logo">
        <a href="/"> EventBriteThp </a>
      </div>
      <div class="navbar-burger" onclick="document.getElementById('navbar-menu').classList.toggle('expanded')">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="navbar-menu" id="navbar-menu">
        <div class="navbar-menu-close" onclick="document.getElementById('navbar-menu').classList.toggle('expanded')">
          &times;
        </div>
        <%= link_to "Accueil", root_path %>
        <%= link_to "Créer un évènement", new_event_path %>
        <div class="dropdown">
          Profile
          <ul class="dropdown-menu">
            <% if current_user %>
              <li><%= link_to "Mon profil", user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item link-danger" %></li>
            <% else %>
              <li><%= link_to "Se connecter", new_user_session_path, class: "dropdown-item link-primary" %></li>
              <li><%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </div>
    </nav>
    <div class="body-container">
      <% if notice || alert %>
      <div class="alert-container">
        <div class="alert success"><%= notice %> <span onclick="this.parentElement.parentElement.style.display='none'">&times;</span></div>
        <div class="alert error"><%= alert %><span onclick="this.parentElement.parentElement.style.display='none'">&times;</span></div>
      </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
